body {
    font-family: Times New Roman;
    width: 100%;
}

.Book>h3{
    color: #006064;
}
.Book p{
    color: #455A64;
}

img:not(.logo){
    border: 2px solid #B2DFDB;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.logo {
    width: 32px;
    height: 32px;
}

h2{
    text-align: center;
    color: #1a1a1a;
}

.center {
  text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #ECEFF1;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
}

nav a {
    padding: 1.5em;
    margin-bottom: 1em;
    text-decoration: none;
    color: white;
}

nav li {
    display: inline-block;
    background-color: #006062;
    border-radius: 10px;
    padding: 0.5em;
    box-shadow: 0 0 25px gray;
}

nav li:hover {
    background-color: #00363A;
}

li {
    margin-bottom: 0.5em;
}

li::marker{
    color: #006060;
}

h1{
    color: #006064;
    margin-bottom: 0.1em;
    text-align: center;
    box-shadow: 0 0 30px #B2DFDB;
}
section{
    background-color: #B2DFDB;
    margin: 1.5em;
    padding:1em;
    border-radius: 10px;
    transform:skew(2deg);
    box-shadow: 0 0 30px gray;
    color: #1a1a1a;
}

article a {
    color: #006060;
}

article a:visited {
    color: #00363A;
}

.Book-container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

#work-samples {
    text-align: center;
    color: #1a1a1a;
}

.Book{
    background-color: #FFCCBC;
    margin: 1.5em;
    padding: 1em;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 30px gray;
}

.Book dt {
    font-weight: bold;
}

.Book a:link{
    display: inline-block;
    background-color: #006064;
    color: white;
    padding: 0.5em;
    margin-top: 0.5em;
    text-decoration: none;
    border-radius: 5px;
}

.Book a:hover{
    background-color: #00363A;
    color: white;
}

.Book a:visited{
    background-color: #004D50;
    color: white;
}

.back-link a:link{
    display: inline-block;
    background-color: #006064;
    color: white;
    padding: 0.5em;
    margin-top: 0.5em;
    text-decoration: none;
    border-radius: 5px;
}

.back-link a:hover{
    background-color: #00363A;
    color: white;
}

.back-link a:visited{
    background-color: #004D50;
    color: white;
}

footer {
  text-align: center;
}

.copyright {
  font-size: 0.5em;
}